.my-font {
  font-family: "Nunito", sans-serif;
}
th.my-font {
  font-weight: 700 !important;
}
@media (max-width: 480px) {
  button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
.table-responsive{
  width: 100%;
  overflow-x: auto;
}