.createGoals {
  margin: 0;
  position: absolute;
  top: 32px;
  left: 369px;
  font-size: var(--font-size-29xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-darkslateblue);
  text-align: center;
  display: inline-block;
  width: 725px;
  height: 99px;
}
.maskGroupChild,
.maskGroupItem {
  border: 0;
  outline: 0;
  background-color: var(--color-lavender);
  position: absolute;
  top: 0;
  left: 31px;
  border-radius: var(--br-xl);
  width: 382px;
  height: 81px;
}
.maskGroupItem {
  background-color: var(--color-gainsboro);
  top: 174px;
  left: 351px;
  width: 214px;
  height: 55px;
}
.createAnExercise,
.name {
  position: absolute;
  display: inline-block;
}
.createAnExercise {
  margin: 0;
  top: 131px;
  left: 354px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-cornflowerblue);
  width: 214px;
  height: 26px;
}
.name {
  top: 199px;
  left: 366px;
  font-weight: 300;
  width: 199px;
  height: 30px;
  opacity: 0.65;
}
.maskGroupInner {
  border: 0;
  background-color: var(--color-gainsboro);
  outline: 0;
  position: absolute;
  top: 239px;
  left: 350px;
  border-radius: var(--br-xl);
  width: 214px;
  height: 55px;
}
.reps {
  position: absolute;
  top: 255px;
  left: 373px;
  font-weight: 300;
  display: inline-block;
  width: 199px;
  height: 30px;
  opacity: 0.65;
}
.rectangleTextarea {
  border: 0;
  background-color: var(--color-gainsboro);
  outline: 0;
  position: absolute;
  top: 172px;
  left: 606px;
  border-radius: var(--br-xl);
  width: 214px;
  height: 55px;
}
.minutes {
  position: absolute;
  top: 196px;
  left: 621px;
  font-weight: 300;
  display: inline-block;
  width: 199px;
  height: 30px;
  opacity: 0.65;
}
.rectangleButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-lavender);
  position: absolute;
  top: 184px;
  left: 927px;
  border-radius: var(--br-mini);
  width: 99px;
  height: 39px;
}
.createADiet,
.save {
  position: absolute;
  display: inline-block;
}
.save {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 196px;
  left: 963px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  width: 99px;
  height: 18px;
}
.createADiet {
  margin: 0;
  top: 383px;
  left: 350px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-cornflowerblue);
  width: 282px;
  height: 60px;
}
.rectangleInput {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 459px;
  left: 364px;
  border-radius: var(--br-xl);
  width: 208px;
  height: 55px;
}
.dietName {
  position: absolute;
  top: 480px;
  left: 380px;
  font-weight: 300;
  display: inline-block;
  width: 199px;
  height: 30px;
  opacity: 0.65;
}
.maskGroupChild1 {
  border: 0;
  background-color: var(--color-gainsboro);
  outline: 0;
  position: absolute;
  top: 591px;
  left: 367px;
  border-radius: var(--br-xl);
  width: 208px;
  height: 55px;
}
.quantity1 {
  margin: 0;
}
.quantity {
  position: absolute;
  top: 607px;
  left: 401px;
  font-weight: 300;
  display: inline-block;
  width: 199px;
  height: 30px;
  opacity: 0.65;
}
.rectangleIcon {
  position: absolute;
  top: 525px;
  left: 367px;
  border-radius: var(--br-xl);
  width: 208px;
  height: 55px;
  opacity: 0.8;
}
.totalCalories {
  border: 0;
  background-color: transparent;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-sm);
  outline: 0;
  position: absolute;
  top: 546px;
  left: 380px;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 199px;
  height: 30px;
  opacity: 0.65;
}
.maskGroupChild2 {
  background-color: var(--color-lavender);
  top: 456px;
  left: 928px;
  border-radius: var(--br-mini);
  width: 99px;
  height: 39px;
}
.maskGroupChild2,
.maskGroupChild3,
.save1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.save1 {
  background-color: transparent;
  top: 466px;
  left: 954px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 99px;
  height: 18px;
}
.maskGroupChild3 {
  background-color: var(--color-lavender);
  top: 520px;
  left: 913px;
  border-radius: var(--br-mini);
  width: 165px;
  height: 57px;
}
.addNew,
.addNew1,
.confirmAndSave {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.confirmAndSave {
  position: absolute;
  top: 538px;
  left: 942px;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 134px;
  height: 24px;
}
.addNew,
.addNew1 {
  width: 45px;
  height: 45px;
  background-image: url(/public/add-new@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.addNew {
  position: absolute;
  top: 179px;
  left: 1086px;
}
.addNew1 {
  top: 458px;
  left: 1102px;
}
.addNew1,
.fitbuddy,
.menu {
  position: absolute;
}
.fitbuddy {
  margin: 0;
  top: 11px;
  left: 50px;
  font-size: var(--font-size-29xl);
  font-weight: 700;
  font-family: inherit;
  color: var(--color-darkslateblue);
  display: inline-block;
  width: 284px;
  height: 58px;
}
.menu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 18px;
  left: 321px;
  width: 45px;
  height: 45px;
  background-image: url(/public/menu@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.exercisesAdded {
  margin: 0;
  position: absolute;
  top: 747px;
  left: 29px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-cornflowerblue);
  display: inline-block;
  width: 282px;
  height: 60px;
}
.maskGroupChild4,
.maskGroupChild5 {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 794px;
  left: 13px;
  border-radius: var(--br-xl);
  width: 208px;
  height: 55px;
}
.maskGroupChild5 {
  top: 863px;
}
.dietsAdded {
  margin: 0;
  position: absolute;
  top: 747px;
  left: 491px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  font-family: inherit;
  color: var(--color-cornflowerblue);
  display: inline-block;
  width: 282px;
  height: 60px;
}
.maskGroupChild6,
.maskGroupChild7 {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 863px;
  left: 575px;
  border-radius: var(--br-xl);
  width: 208px;
  height: 55px;
}
.maskGroupChild7 {
  top: 793px;
  left: 580px;
}
.delete,
.delete1,
.delete2,
.delete3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.delete {
  top: 999px;
  left: 309px;
  width: 45px;
  height: 45px;
  background-image: url(/public/delete@3x.png);
  display: none;
}
.delete1,
.delete2,
.delete3 {
  top: 807px;
  left: 237px;
  width: 30px;
  height: 30px;
  background-image: url(/public/delete1@3x.png);
}
.delete2,
.delete3 {
  left: 817px;
}
.delete3 {
  top: 875px;
}
.myGoals {
  margin: 0;
  position: absolute;
  top: 689px;
  left: 306px;
  font-size: 32px;
  font-weight: 800;
  font-family: inherit;
  color: #015377;
  text-align: center;
  display: inline-block;
  width: 288px;
  height: 65px;
}
.maskGroupChild8,
.maskGroupChild9 {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  left: 334px;
  border-radius: var(--br-xl);
  width: 208px;
  height: 55px;
}
.maskGroupChild8 {
  position: absolute;
  top: 863px;
}
.maskGroupChild9 {
  top: 793px;
}
.delete4,
.icon,
.maskGroupChild9 {
  position: absolute;
}
.icon {
  top: 605px;
  left: 927px;
  width: 382px;
  height: 352px;
  object-fit: cover;
}
.delete4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 878px;
  left: 237px;
  width: 30px;
  height: 30px;
  background-image: url(/public/delete1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.components {
  position: absolute;
  top: 439px;
  left: 642px;
}
.maskGroupChild10 {
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 239px;
  left: 600px;
  border-radius: var(--br-xl);
  width: 214px;
  height: 55px;
}
.exercise {
  position: absolute;
  top: 251px;
  left: 621px;
  font-weight: 300;
  display: inline-block;
  width: 199px;
  height: 30px;
  opacity: 0.65;
}
.maskGroup {
  position: absolute;
  top: 41px;
  left: 15px;
  width: 1309px;
  height: 957px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop1 {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 1024px;
  overflow: hidden;
}
