.exercise-card {
  min-width: 300px;
  width: 100%;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease; /* Add transition for smoother animation */
  border: 1px solid #ccc; /* Add border with a light gray color */
}

/* Apply the transform when hovered */
.exercise-card:hover {
  transform: scale(1.05); /* Scale the card slightly */
}

.exercise-image {
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.exercise-name {
  font-size: 16px;
  color: white;
  text-align: center;
}

.exercise-details {
  font-size: 14px;
  color: white;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: transparent;
}

.add-button,
.remove-button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.add-button {
  background-color: blue; /* Change button color to blue */
  color: white;
  transition: background-color 0.3s ease; /* Add transition for smoother color change */
}

.remove-button {
  background-color: blue; /* Change button color to blue */
  color: white;
  transition: background-color 0.3s ease; /* Add transition for smoother color change */
}

.add-button:hover {
  background-color: rgb(107, 250, 107); /* Change button color to green on hover */
}

.remove-button:hover {
  background-color: rgb(254, 76, 76); /* Change button color to red on hover */
}

