body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* ============================= */
  background: #d9d9d9;
  /* ============================= */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ================================================================= */

#footer {
  height: 60px;
  background-color: #e3f2fd;
}

#lgn-btn {
  margin-left: 10px;
}

#srch-btn {
  margin-right: 10px;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 600;
  font-style: blique;
  color: cornflowerblue;
}

#abt-inf-cnt {
  /* background-image: url("./../Components/Assets/ImageOne.png"); */
  /* background-repeat: no-repeat; */
  /* border-radius: 25px;
}

#rw-1 {
  margin: 50px;
  padding: 50px;
  background-color: gray;
  /* background-image: url(Components/Assets/ImageOne.png); */
  background-repeat: no-repeat;
  border-radius: 15px;
}

.lnd-txt-1 {
  font-size: 25px;
  font-family: sans-serif;
  text-align: justify;
  color: #fff;
  font-weight: 500;
}

.lnd-pr {
  font-size: 20px;
  text-align: justify;
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
}

.lnd-lnk-1 {
  background-color: rgba(0, 0, 0, 0.55);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  font-weight: 200;
}

.lnd-lnk-2 {
  background-color: rgba(0, 0, 0, 0.55);
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  font-weight: 200;
  margin-left: 10px;
}

#jn-us {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 15px;
  color: #fff;
  font-weight: 200;
  margin: 12.5px;
  padding: 25px;
}

.jn-us-btn {
  background-color: #fff;
  color: black;
  padding: 15px;
  margin-left: 10px;
  text-align: right;
  border-radius: 12.5px;
}
