@tailwind base;
@tailwind components;
@tailwind utilities;

.login_para {
  /* width: 50%;
  height: 100vh; */
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 59vh;
  width: 50%;
  border-radius: 10px;
}

.img {
  height: 100% !important;
  max-width: 100% !important;
  object-fit: cover !important;
}
