.login_para {
  /* width: 50%;
  height: 100vh; */
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 59vh;
  width: 50%;
  border-radius: 10px;
}

.img {
  height: 100% !important;
  max-width: 100% !important;
  object-fit: cover !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

/* ============================ */

#lg-h4,
#lg-lg {
  text-align: left;
  text-align: justify;
}

#fg-ps {
  text-align: justify;
  text-decoration: none;
}

#sgn-up-lnk {
  text-decoration: none;
}
