body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 120px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1, h2 {
    text-align: center;
    color: #333;
  }
  
  .flex {
    display:c;
    flex-direction: column;
    height: 100%;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .space-x-4 > *:not(:last-child) {
    margin-right: 16px;
  }
  
  button {
    padding: 8px 16px;  /* Reduced padding */
    font-size: 14px;    /* Reduced font size */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 3px;
  }
  
  button.bg-blue-500 {
    background-color: #007bff;
    color: white;
  }
  
  button.bg-blue-500:hover {
    background-color: #0069d9;
  }
  
  button.bg-gray-500 {
    background-color: #e2e6ea;
    color: #333;
  }
  
  button.bg-gray-500:hover {
    background-color: #d6d8db;
  }
  
  button.bg-green-500 {
    background-color: #28a745;
    color: white;
  }
  
  button.bg-green-500:hover {
    background-color: #218838;
  }
  
  button.bg-yellow-500 {
    background-color: #ffc107;
    color: black;
  }
  
  button.bg-yellow-500:hover {
    background-color: #e0a800;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 95%;
      padding: 10px;
    }
  
    button {
      font-size: 14px;
      padding: 8px 16px;
    }
  
    .space-x-4 {
      flex-direction: column;
      align-items:stretch;
    }
  
    .space-x-4 > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 480px) {
    button {
      font-size: 12px;
      padding: 6px 12px;
    }
  }
  .table-responsive {
    width: 100%;
    overflow-x: auto;
  }