.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px;
}

.form-container {
  width: 25%;
  margin-right: 20px;
}

.image-container {
  width: 30%;
}

.input-container {
  margin-bottom: 15px;
}

.password-input {
  position: relative;
}

.password-input input {
  width: 96%;
  padding: 10px;
}

.password-toggle-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.password-toggle-btn:focus {
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .image-container {
    display: none;
  }
  .form-container {
    width: 90%;
  }
}
