.profile-page .profile-nav-item .nav-item{
    line-height: 20px;
    margin-right: 0.5rem;
}

.profile-page .Orv-Pr-Dt-hd{
    font-family: Nunito, sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}