body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ================================================================== */

#otp-vrf-bcg {
  background-color: #fff;
  /* padding: 50px; */
}

#lft-arw-icn {
  font-size: 17.5px;
  color: black;
}

#frg-pwd-txt {
  text-align: justify;
  font-size: 27.5px;
}

#frg-pwd-msg {
  text-align: justify;
}

.eml-inp {
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid black;
  padding: 10px;
  margin-bottom: 10px;
}

#otp-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

#col6-1 {
  /* width: 40%; */
}

#col6-2 {
  /* width: 40%; */
}

#aut-msg {
  margin-top: 10px;
}

.otp-bx {
  /* background: grey; */
  border: 1.5px solid black;
  width: 100%;
  /* max-width: 500px; */
  border-radius: 5px;
  padding: 3.5px 12.5px;
  display: flex;
  align-items: center;
}

.otp-bx input {
  width: 100%;
  padding: 8px 0;
  border: 0;
  outline: 0;
  font-size: 15px;
  color: #555;
}

.otp-bx img {
  width: 25px;
  cursor: pointer;
}

#nt-rc-pr {
  padding-top: 10px;
}

#rsnd {
  color: red;
  outline: 0;
  border: 0;
  background-color: #fff;
}

#vrf-img {
  /* width: 100%;
  height: 100%; */
  text-align: center;
}

/* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */

#rw-1 {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* #password {
  color: ;
} */

.d-sm-none {
  display: none;
}
